<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1. 在遍历的过程中，没有使用索引值(下标值) -->
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>

    <!-- 2. 在遍历的过程中，获取索引值 -->
    <ul>
      <li v-for="(item, index) in names">
        {{index + 1}}.{{item}}
      </li>
    </ul>
  </div>

  <script src="../开发环境Vue文件/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        names: ['why', 'kobe', 'james', 'cury']        
      }
    });
  </script>
</body>
</html>