<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <label for="male">
      <input type="radio" id="male" value="男" v-model="sex">男
    </label>

    <label for="female">
      <input type="radio" id="female" value="女" v-model="sex">女
    </label>

    <h2>您选择的性别是: {{sex}}</h2>

    <h3>{{ a(message) }}</h3>
  </div>

  <script src="../开发环境Vue文件/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊',
        sex: '男'
      }, 
      methods: {
        a(b) {
          return b
        }
      },
    });
  </script>
</body>
</html>